@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  position: relative;
  z-index: 10;
}

body {
  overflow-y: scroll;
  font-family: "Satoshi", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

#webgl {
  position: fixed;
  z-index: 0;
  inset: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1vmax 0;
  gap: 3vmax;
}

.grid {
  display: grid;
  align-items: start;
  padding: 6vmax;
  gap: 3vmax;
  grid-template-columns: repeat(3, 1fr);
}

.container img {
  max-width: 100%;
  opacity: 0;
}

.details {
  max-width: 100%;
  padding: 0 6vmax 6vmax 6vmax;
}

.details header {
  padding-top: 3vmax;
}

.details-container {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.details-data {
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1;
  padding: 3vmax 0;
}

.details-data div:nth-of-type(1) {
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 2;
}

.details-data div:nth-of-type(2) {
  grid-column-start: 3;
  grid-row-end: 1;
  grid-column-end: 7;
}
.details-data div:nth-of-type(3) {
  grid-column-start: 8;
  grid-row-end: 1;
  grid-column-end: 11;
}

.details-data div:nth-of-type(4) {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-end: 1;
  justify-self: end;
  text-align: right;
}

[data-text-animation],
[data-icon] {
  visibility: hidden;
}
