---
import Layout from "../layouts/Layout.astro"
---

<Layout uid="home" template="home">
  <div class="container">
    <div class="grid">
      <a href="/1">
        <img loading="eager" data-flip-id="img" src="/assets/i1.jpg" alt="" />
      </a>
    </div>
    <div class="grid">
      <div></div>
      <a href="/2">
        <img loading="eager" data-flip-id="img" src="/assets/i2.jpg" alt="" />
      </a>
      <a href="/3">
        <img loading="eager" data-flip-id="img" src="/assets/i3.jpg" alt="" />
      </a>
    </div>
    <div class="grid">
      <div></div>
      <a href="/4">
        <img loading="eager" data-flip-id="img" src="/assets/i4.jpg" alt="" />
      </a>
    </div>
  </div>
</Layout>
